<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="org.springframework.data.elasticsearch.core.mapping.SimpleElasticsearchPersistentProperty" level="ERROR" />
	<logger name="org.springframework.data.convert.CustomConversions" level="ERROR" />
	<logger name="com.amazonaws.util.EC2MetadataUtils" level="ERROR" />

</configuration>
